@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import "settings";
@import "foundation";

header {
  margin: 2rem 0 0 0;

  nav { margin-top: 1.5rem;}
}

h1 > img {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 1rem 0.5rem 0;
}

.masthead {
  margin: 2em auto;
  img { border-radius: 0.2em; }
}

.post {
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 1px #aaa;
  padding: 1.5rem 2rem;
  margin: 2em auto;

  h6 { color: #707070; font-size: 0.8em; }
  p { color: #707070; }
}

.meta  {
  .card {
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 1px #aaa;
    padding: 1.5rem 2rem;
  }

  .crew {
     img {
       width: 2.8rem;
       height: 2.8rem;
       margin: 0 1rem 0.5rem 0;
       border-radius: 5rem;
     }
   }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
