<div class="row masthead">
  <img src="images/masthead.jpg">
</div>
<div class="row post">
  <div class="small-12 columns">
    <h3>Yes.... I am a boat!</h3>
    <h6>Posted on July 19, 2013</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>
<div class="row meta">
  <div class="small-6 columns left card voyage">
    <h6>The Voyage:</h6>
    <dl>
      <dt>Departure Port</dt>
      <dd>Milbrook.</dd>
      <dt>Destination Port</dt>
      <dd>Mayflower.</dd>
      <dt>Distance</dt>
      <dd>2nm</dd>
      <dt>Weather</dt>
      <dd>West or northwest 4 or 5, Slight or moderate, Fair, Good
      </dd>
    </dl>
  </div>
  <div class="small-5 columns right card">
    <h6>The Crew:</h6>
    <div class="crew">
      <img src="images/bpscott.jpeg">
      <img src="images/noel.png">
      <img src="images/kevinprince.jpeg">
      <img src="images/billdingo.jpg">
    </div>
    <hr>
    <dl>
      <dt>Eat</dt>
      <dd>The Devon and Cornwall.</dd>
      <dt>Drank</dt>
      <dd>Doombar.</dd>
      <dt>Notes</dt>
      <dd>Found a new curry house</dd>
    </dl>
  </div>
</div>
