---
title: Crew Listing
---
<div class="crew-list row">
  <div class="small-12 columns">
    <div class="card">
      <h1>The Crew</h1>

      <%data.crew.each do |id, member| %>
        <div id="<%=id%>" class="crew-member clearfix">

          <h2><%=member.name%></h2>

          <div class="right">
            <%= image_tag member.image, :width => 100, :title => member.name %>
          </div>

          <%=member.bio%>
        </div>
      <% end %>
    </div>

  </div>
</div>
